* {
    padding: 0px 0px;
    margin: 0px 0px;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #008300;
    background-image: url('images/SMIConBarBackground.png');
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/* *****************************************
* Neale Armani - project
*
********************************************/

.maincont {
    width: 100%;
    height: 2000px;
    position: relative;
    margin: 0px 0px;
    padding: 0px 0px;
}

.headertop {
    width: 100%;
    height: 30px;
    background: linear-gradient(to left, #008300 30%, #99ff66 100%);
    margin: 0px 0px 0px;
    position: relative;
    z-index: 5000;
}


.headertop .leftside {
    width: 40%;
    height: 100%;
    float: left;
    color: #99ff66;
}

.headertop .rightside {
    width: 60%;
    height: 100%;
    float: left;
}

.container-topmargin {
    margin-top: 18px;
} 

.container-topmargin .navbartop {
    position: relative;
    margin: 0px 0px;
    margin-top: -18px;
    min-height: 30px !important;
    height: 30px;
    
    transition: all 0.4s;
}

/* .container-topmargin .navbartop .contactus ul li{
    width: 50px;
} */
#top-main-linkbar ul li {
    padding: 0px 10px 0px 10px;
} 

#top-main-linkbar ul li a {
    text-transform: capitalize;
    color: white !important;
    text-align: center;
    font-family: Open Sans, Lucida sans, Arial;
    font-size: 15px;
    font-weight: 400;
}


#top-main-linkbar ul li a:hover {
    background-color: #00843D !important;
}

.headertop .rightside .nav-linktop {    
    padding: 0px 5px;
} 

#top-main-linkbar ul li a:focus {
    background-color: #00843D !important;
}

#top-main-linkbar ul li {
    border-right: 1px solid #4FB27E;
}

#top-main-linkbar ul li:first-child {
    border-left: 1px solid #4FB27E;
}

@media screen and (min-width: 768px) {
    .navbar-right-topheader {
        float: left !important;
    }
}

@media screen and (max-width: 991px) {
    .navbar-right-hide {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .navbar-nav>li>a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}

#top-main-linkbar ul li a:hover {
    color: #CCC !important;
}

/*****************CSS for Logo & Global Navigation Div*******************/
.header__language-icon{
    font-size: 25px;
}

#brandlogoshow{
    display: block;   
}

#brandlogohide{
    display: none;   
}

.navbar {
    position: relative;
    margin: 0px 0px;
    padding: 0px 0px;
    height: 115px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    /* font-family:Open Sans,Lucida sans, Arial !important; */
    text-transform: capitalize;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    
    transition: all 0.4s;
}

.navbar-brand .brandlogo {
    width: 130px;
    height: 130px;
    padding: 14px 14px;
    
} 

img.brandlogo_1{
    position: relative;
    margin: 0px 0px;
    padding: 0px 0px;
    height: 35px;
    font-size: 14px;
    line-height: 20px;
    background-color: #FFFFFF;
    font-family:fantasy;
    text-transform: lowercase;
    font-weight: 600;
    
    transition: all 0.4s;
}

.brandlogo_2{ 
    width: 120px;
    padding: 25px 0px;
    font-family:fantasy;
    text-transform:uppercase;
    font-weight: 400;
    font-size: 18px;

}


.home {
    font-style: normal;
    font-size: 26px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 45px 25px 10px 0px; 
}

.navbar .nav-link {
    color: #070B4B;
}


.headertop .imgcontainer {
    position: relative;
    background-size: cover;
    background: rgba(250, 244, 244, 0.733);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 58%;
    top: 105px;
    width: 360px;
    height: 330px;
    z-index: 500;
}

.headertop .imgcontainer .overlay {
    position: relative;
    top: 0px;
    left: 0;
    width: 330px;
    height: 330px;
    padding: 25px 25px;
    z-index: 500;
}

.carousel {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0px 0px;
    height: 420px;
    padding: 0px 0px 0px 0px;
}

.slide {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0px -10px;
    height: 380px;
}

.carousel .carousel-inner {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
}

.carousel .carousel-inner .container1 {
    float: left;
    width: 50%;
    height: 100%;
    top: 0px;
    background-color: #DDD;
}

.carousel .carousel-inner .container1 .carousel-item {
    height: 100%;
}

.carousel .carousel-inner .container2 {
    float: left;
    width: 49%;
    height: 100%;
    background-color: #070B4B;
    z-index: 500;
}


#range-logo {
    display: inline-block;
    background-size: 300px 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(images/F6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.carousel .carousel-inner .container2 h1 {
    color: #fff;
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    z-index: 10;
}

.carousel .carousel-inner .container2 p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    z-index: 10;
}

.carousel .carousel-inner .container2 h2 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    z-index: 10;
}

.carousel .carousel-inner .container2 .share {
    z-index: 10;
    background-color: darkgray;
}

.slogan-container {
    float: left;
    height: 30px;
    
    background-color: darkgray;
    position: relative;
    text-align: center;
    margin: 0px 0px 0px;
    padding: 0px 0px 5px; 
}

.slogan-container .leftside{
    width: 50%;
    float: left;
    margin: -15px 0px 0px;
    position: relative;
    display: block;
}
.slogan-container .rightside{
    width: 50%;
    float: left;
    margin: -15px 0px 0px;
    position: relative;
    display: block;
}

.slogan-container .rightside h1 span{
    margin-top: 0px;
}

.maincont .slogan-container h1 span {
    font-family: "effra" !important;
    font-size: 12px !important;
    line-height: 22px !important;
}
.maincont .slogan-container h1 span a {
    font-size: 12px;
    padding: 3px;
}


.videos {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    margin: 0px 0px 0px;
}

.videos h1 {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #070B4B;
    margin: 15px 0px;
    text-align: center;
    font-weight: 700;
    background-image: url(../images/why-igcse-bigx.png);
}

.videos .vimg {
    height: 250px;
    padding: 0px 0px;
    margin: 0px 5px;
}

img.vimg {
    padding: 0px 5px;
}

.middleimg1 {
    width: 200px;
    height: 130px;
    top: 0;
    left: 0;
    margin-top: 20px;
}

.middleimg1 img {
    width: 200px;
    height: 130px;
    padding: 1px 1px 1px 1px;
}

.middleimg2 {
    width: 200px;
    height: 130px;
    top: 0;
    right: 0;
    margin-top: 20px;
}

.middleimg2 img {
    width: 200px;
    height: 130px;
    padding: 1px 1px 1px 1px;
}

.middleimg3 {
    width: 200px;
    height: 130px;
    top: 50%;
    left: 50%;
}

.middleimg3 img {
    width: 200px;
    height: 130px;
    padding: 1px 1px 1px 1px;
}

.middleimg4 {
    width: 200px;
    height: 130px;
    top: 50;
    right: 0;
}

.middleimg4 img {
    width: 200px;
    height: 130px;
    padding: 2px;
    padding: 1px 1px 1px 1px;
}

.FullWidthRowNews2 {
    width: 100%;
    height: 250px;
    float: left;
    position: relative;
    margin-top: 60px;
}

.FullWidthRowNews2 .navbar-about {
    font-size: 24px;
    line-height: 34px;
}

.FullWidthRowNews2 .navbar-about .head-color {
    color: #FFFFFF;
    text-decoration: underline;
}


.whyus {
    background-color: #070B4B;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 24px;
    color: #e9ecef;
    font-weight: 900;
    margin: 0px 0px;
    padding: 20px 0px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.whyus h5 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #e9ecef;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: left;
    position: relative;
}

.whyus .whTitle p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin: 0px 0px;
    padding: 10px 0px;
    text-align: center;
    position: relative;
    color: #e9ecef;
}

.whyus .whTitleD p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #e9ecef;
    margin: 0px 0px;
    padding: 20px 0px;
    text-align: left;
    position: relative;
}

.whyus img {
    width: 100%;
    height: 250px;
    margin: 0px 20px;
}


/*



.mainitemlt {
    padding: 25px;
}

.mainitemrt {
    padding: 25px;
}

.middleimg {
    padding: 20px;
}

.ENGLISHboximg {
    width: 215px;
    height: 120px;
    top: 3%;
    right: 20px;
    position: absolute;
    z-index: 1;
}

.CONNECTIONboximg {
    width: 215px;
    height: 120px;
    top: 20%;
    right: 20px;
    position: absolute;
    z-index: 1;
}


.TICKETboximg {
    width: 215px;
    height: 120px;
    top: 39%;
    right: 20px;
    position: absolute;
    z-index: 1;
}


.TRANSFORMboximg {
    width: 215px;
    height: 120px;
    top: 56%;
    right: 20px;
    position: absolute;
    z-index: 1;
}

.ENROLboximg {
    width: 215px;
    height: 120px;
    top: 75%;
    right: 20px;
    position: absolute;
    z-index: 1;
}


.ENGLISHbox {
    width: 175px;
    height: 60px;
    top: 5%;
    right: 20px;
    position: absolute;
    background: linear-gradient(to left, #008300 30%, #99ff66 100%);
    border: 2px solid white;
    border-radius: 30px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}

.CONNECTIONbox {
    width: 175px;
    height: 60px;
    top: 20%;
    right: 20px;
    position: absolute;
    background: linear-gradient(to left, #008300 30%, #99ff66 100%);
    border: 2px solid white;
    border-radius: 30px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}

.TICKETbox {
    width: 175px;
    height: 60px;
    top: 35%;
    right: 20px;
    position: absolute;
    background: linear-gradient(to left, #008300 30%, #99ff66 100%);
    border: 2px solid white;
    border-radius: 30px;

    z-index: 1;
}

.TRANSFORMbox {
    width: 175px;
    height: 60px;
    top: 51%;
    right: 20px;
    position: absolute;
    background: linear-gradient(to left, #008300 30%, #99ff66 100%);
    border: 2px solid white;
    border-radius: 30px;

    z-index: 1;
}

.ENROLbox {
    width: 175px;
    height: 60px;
    top: 66%;
    right: 20px;
    position: absolute;
    background: linear-gradient(to left, #008300 30%, #99ff66 100%);
    border: 2px solid white;
    border-radius: 30px;

    z-index: 1;
}



.carousel-inner .ENGLISHbox:hover {
    cursor: pointer;
}


.carousel-inner .CONNECTIONbox:hover {
    cursor: pointer;
}


.carousel-inner .TICKETbox:hover {
    cursor: pointer;
}


.carousel-inner .TRANSFORMbox:hover {
    cursor: pointer;
}

.carousel-inner .ENROLbox:hover {
    cursor: pointer;
}

.carousel-inner .ENGLISHbox span {
    width: 100%;
    float: left;
    color: yellow;
    padding: 18px 40px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.carousel-inner .CONNECTIONbox span {
    width: 100%;
    float: left;
    color: yellow;
    padding: 18px 12px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.carousel-inner .TICKETbox span {
    width: 100%;
    float: left;
    color: yellow;
    padding: 18px 50px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.carousel-inner .TRANSFORMbox span {
    width: 100%;
    float: left;
    color: yellow;
    padding: 18px 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.carousel-inner .ENROLbox span {
    width: 100%;
    float: left;
    color: yellow;
    padding: 18px 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}



.carousel-inner .ENGLISHbox span:hover {
    color: #FFD51D;
    background: #007237;
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border: 0px;
}


.carousel-inner .CONNECTIONbox span:hover {
    color: #FFD51D;
    background: #007237;
    border-radius: 30px;
}

.carousel-inner .TICKETbox span:hover {
    color: #FFD51D;
    background: #007237;
    border-radius: 30px;
}

.carousel-inner .TRANSFORMbox span:hover {
    color: #FFD51D;
    background: #007237;
    border-radius: 30px;
}

.carousel-inner .ENROLbox span:hover {
    color: #FFD51D;
    background: #007237;
    border-radius: 30px;
}


.Admission {
    width: 100%;
    height: 280px;
    background-color: #008300;
    position: relative;
    text-align: center;
    margin: 0px 0px 0px 0px;
}


.Admission h1 span {
    width: 100%;
    height: 250px;
    background-color: #008300;
    position: relative;
    text-align: center;
    margin: 25px 0px;
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: underline;
    margin: 25px 0px;

}


.Admission img {
    width: 450px;
    height: 230px;
    padding: 20px 0px;
    margin: 20px 0px;
}


.Admission h1 {
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
    color: #FFFFFF;

}


.Admission .Apply {
    width: 600px;
    height: 250px;
    position: relative;
    text-align: center;
    margin: 35px 0px 0px;
    text-align: left;
}


.Admission .Apply h1 {
    font-style: normal;
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;

    font-style: normal;

    color: #070B4B;
    font-size: 36px;
    font-weight: 700;
    margin-top: 35px;
}

.Admission .Apply p {
    width: 100%;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 10px 0px;
}


.Admission .Apply .appliya {
    width: 85px;
    font-style: normal;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    background: linear-gradient(to left, #070B4B 00%, #99ff66 100%);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 25px 25px 25px 25px;
    margin: 15px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.Admission .Apply .social-icons img {
    width: 20px;
    height: 20px;
}

#square {
    list-style-type: square;
}


.logins {
    margin: 55px 20px;
}

.logins .parentlogin p a {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: honeydew;
    margin: 20px 0px;
}

.logins .studentlogin p a {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: honeydew;
    margin: 20px 0px;
}

.logins .stafflogin p a {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: honeydew;
    margin: 20px 0px;
}

.logins .boardlogin p a {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: honeydew;
    margin: 20px 0px;
}



.fbsb {
    position: fixed;
    top: 42%;
    right: -140px;
    transition: 1s;
    z-index: 99;
}

.fbsb:hover {
    right: 0px;
    cursor: pointer;
}

.piterestsb {
    position: fixed;
    top: 32%;
    right: -140px;
    transition: 1s;
    z-index: 99;
}

.piterestsb:hover {
    right: 0px;
    cursor: pointer;
}

.youtubesb {
    position: fixed;
    top: 52%;
    right: -140px;
    transition: 1s;
    z-index: 99;
}

.youtubesb:hover {
    right: 0px;
    cursor: pointer;
}

.achievements-container {
    width: 100%;
    height: 500px;
}

article#achievements {
    margin: 0px 0px;
    padding: 0px 0px;
    background-image: url(../images/why-iqra-clear.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    margin: 0px;
}

.text {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 24px;
    color: honeydew;
    margin: 0px 0px;
    padding: 80px 0px;
    text-align: center;
    position: relative;
}

.infos {
    text-align: center;
    margin: 40px 0px;
}



m.achievements-container h4 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    line-height: 36px;
    color: #e9ecef;
}

.achievements-container .counter {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 66px;
    line-height: 76px;
    color: honeydew;
}

.achievements-container p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: honeydew;
}


.socialmedia {
    width: 100%;
    float: left;
}

.socialmedia .fb {
    width: 100%;
    float: left;
}

.socialmedia .youtube {
    width: 100%;
    float: left;
}

.socialmedia .instagram {
    width: 100%;
    float: left;
}

footer {
    position: relative;
    background-color: #008300;
}

.address p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: honeydew;
    margin: 20px 0px;

}


#sloganopen {
    display: none;
}

#sloganopened {
    background-image: url(../images/camb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.social-icons {
    width: 100%;
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
}

.social-icons ul {
    width: 100%;
    display: block;
}

.social-icons ul li {
    list-style: none;
    display: inline-block;
}


.social-icons ul li a {
    display: block;
    width: 50px;
    height: 30px;
    line-height: 24px;
    margin: 5px 0px;
    padding: 2px 0px;
    font-size: 20px;
    border-radius: 100%;
    background: linear-gradient(to left, #fff 00%, #99ff66 100%);
}

*/